.hidden {
    display: none;
}

canvas {
    display: block;
    max-width: 100vw;
    max-height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#loadImage {
    max-width: 100vw;
    max-height: 100vh;
    
    cursor: pointer;
}

#fileInput {
    position: absolute;
    top: -200px;
    visibility: hidden;
}